@font-face {
  font-family: 'SourceSansPro-Black';
  src: url(fonts/SourceSansPro-Black.woff2);
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(fonts/sourcesanspro-bold.woff2);
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(fonts/sourcesanspro-regular.woff2);
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url(fonts/sourcesanspro-semibold.woff2);
}

sup,
sub {
  font-size: 50%;
}

html,
body,
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#main {
  position: relative;
  left: 0px;
  top: 0px;
  width: 160px;
  height: 600px;
  border: 1px solid #707070;
  background: #071D49;
  background: linear-gradient(140deg, #071D49 0%, #0D5EB8 80%);
  box-sizing: border-box;
  overflow: hidden;
}

#shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 150px);
  transform: translateY(100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 140px);
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 150px);
  background-color: #4698E8;
  background: linear-gradient(140deg, #4698E8 0%, #005EB8 45%);
}

#bgExit {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
  z-index: 100;
}

#logo {
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  height: 100%;
  width: 100%;
  top: 0px;
  text-align: center;
  position: absolute;
  bottom: 0px;
}

.copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  color: white;
  position: absolute;
  line-height: 1.1;
  z-index: 1;
}

#copy1 {
  text-align: left;
  top: 15px;
  left: 0;
}

#copy2 {
  text-align: right;
  top: 264px;
  right: 0px;
}

#copy3 {
  text-align: center;
  top: 106px;
  left: 0;
  padding: 0;
}

.copy b {
  font-family: 'SourceSansPro-Black';
}

.text1 {
  font-family: 'SourceSansPro-Black';
  font-size: 43px;
  line-height: 33px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

.text2 {
  font-family: 'SourceSansPro-Regular';
  font-size: 15px;
  line-height: 18px;
  padding: 0 2px;
}

.text3 {
  font-family: 'SourceSansPro-Regular';
  font-size: 18px;
  line-height: 22px;
}

#cta {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 235px;
  left: 50%;
  transform: translateX(-50%);
  width: 112px;
  height: 30px;
  border: #F8D872 solid 1px;
  background-color: #F8D872;
  color: #071D49;
  font-family: 'SourceSansPro-Semibold';
  border-radius: 15px;
  font-size: 14.5px;
  line-height: 1;
}

#terms {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-family: 'SourceSansPro-Semibold';
  font-size: 9px;
  color: white;
}